/* universal code */
* {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}

.text-primary {
    color: #FD6E0A;
}

.btn-primary {
    background: #FD6E0A;
    border-radius: 5px;
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;
    padding: 18px 35px;
    border: none;
    color: #fff;
}

p {
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #757575;
}

section {
    margin-top: 130px;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

/* nav style */
.header {
    background: #FFF8F3;
    overflow: hidden;
    background-image: url(../images/developer.png), url("../images/header_bg.png");
    background-repeat: no-repeat;
    background-position: bottom left, bottom right;
}

nav {
    display: flex;
    justify-content: space-between;
    margin: 50px 230px 50px 214px;
}

.nav-title {
    font-weight: 800;
    font-size: 45px;
    line-height: 61px;
}

nav ul {
    display: flex;
    align-items: center;
}

nav ul li {
    list-style: none;
    margin-left: 50px;
    text-transform: uppercase;
}

/* banner design */
.banner {
    display: flex;
    align-items: center;
    margin: 0 40px 0 214px;
}

.banner-subtitle {
    font-weight: 600;
    font-size: 45px;
    line-height: 61px;
    color: #474747;
    margin: 5px 0;
}

.banner-titel {
    font-weight: 700;
    font-size: 85px;
    line-height: 116px;
    color: #181818;
    margin-bottom: 20px;
}

.banner-description {
    margin-bottom: 30px;
}

/* main section */
main {
    max-width: 1140px;
    margin: 0 auto;
}

/* about section */
.about {
    background: #FFF8F3;
    padding: 131px 156px;
    border-radius: 10px;
    text-align: center;
}

.section-title {
    font-weight: 700;
    font-size: 35px;
    line-height: 48px;
    color: #181818;
    margin-bottom: 30px;
}

.section-description {
    margin-bottom: 30px;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #757575;
}

.about-info-container {
    display: flex;
    justify-content: space-around;
}

.about-info p {
    font-size: 20px;
    line-height: 30px;
    color: #757575;
}

p.info-des {
    color: #474747;
    font-weight: 900;
}

/* what i do section */
.what-i-do {
    text-align: center;
}

.what-i-do>p {
    padding: 0 130px;
    margin-bottom: 50px;
}

.skills {
    display: flex;
    gap: 24px;
    justify-content: space-between;
}

.skill-box {
    padding: 30px;
    max-width: 267px;
    text-align: left;
    box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
    border-radius: 5px;
}

.skill-box img {
    margin-bottom: 30px;
}

.skill-box h4 {
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;
    color: #181818;
}

.skill-box p {
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #757575;
}

/* Resume Section */
.resume-section h3 {
    text-align: center;
    margin-bottom: 113px;
}

.resume-container {
    display: flex;
    gap: 24px;
}

.Education {
    max-width: 558px;
}

.resume-subtitle {
    font-weight: 700;
    font-size: 30px;
    line-height: 41px;
    margin-bottom: 30px;
}

.resume-box {
    padding-right: 71px;
}

.resume-box h5 {
    font-weight: 700;
    font-size: 25px;
    line-height: 34px;
    color: #474747;
}

.resume-box p {
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;
    color: #757575;
    margin-bottom: 20px;
}

.resume-para {
    font-size: 16px !important;
    line-height: 28px !important;
    margin-bottom: initial !important;
}

.resume-container hr {
    color: #D1D1D1;
    margin: 30px 0;
}

.resume-btn {
    text-align: center;
    margin-top: 50px;
}

/* Contact Section */
.contact {
    background: #FFF8F3;
    padding: 130px 214px;
}

.contact-container {
    display: flex;
    gap: 100px;
}

.contact-description {
    font-size: 16px;
    line-height: 28px;
    color: #474747;
    margin-bottom: 30px;
    margin-top: -10px;
}

.contact input[type="text"],
input[type="email"],
textarea {
    margin-bottom: 24px;
    border: 0;
    width: 100%;
    padding: 14px 30px;
}



/* Responsive */
@media only screen and (max-width: 450px) {

    /* Universal Style */
    .btn-primary {
        padding: 6px 10px;
        font-size: 16px;
        line-height: 20px;
        font-weight: 500;
    }

    p {
        font-size: 14px;
        line-height: 20px;
    }

    section {
        margin-top: 50px;
    }
    ul{
        padding-left: 0px;
    }

    /* nav style */
    .header {
        background-position: left center, bottom center;
        background-size: contain;
    }

    nav {
        margin: 15px 35px;
        align-items: center;
        justify-content: space-between;
    }

    .nav-title {
        font-size: 28px;
        line-height: 30px;
    }

    nav ul li {
        margin-left: 15px;
    }

    /* banner design */
    .banner {
        margin: 50px 15px -4px 15px;
        display: block;
        text-align: center;
    }

    .banner-subtitle {
        font-size: 28px;
        line-height: 30px;
    }

    .banner-titel {
        font-size: 52px;
        line-height: 80px;
        margin-bottom: 12px;
    }

    .banner-description {
        margin-bottom: 18px;
    }

    .banner img {
        max-width: 50%;
    }

    /* about section */
    .about {
        padding: 40px 15px;
    }

    .section-title {
        font-size: 28px;
        line-height: 35px;
        margin-bottom: 20px;
    }

    .section-description {
        margin-bottom: 20px;
        font-size: 16px;
        line-height: 30px;
    }

    .about-info-container {
        display: block;
    }

    .about-info {
        margin-bottom: 18px;
    }

    .about-info:last-child {
        margin-bottom: 0px;
    }

    .about-info p {
        font-size: 18px;
        line-height: 22px;

    }

    /* what i do section */

    .what-i-do>p {
        padding: 0 15px;
        margin-bottom: 35px;
    }

    .skills {
        display: block;
    }

    .skill-box {
        padding: 30px 20px;
        margin: auto;
        margin-bottom: 15px;
    }

    .skill-box:last-child {
        margin-bottom: 0px;
    }

    .skill-box img {
        margin-bottom: 20px;
    }

    .skill-box h4 {
        margin-bottom: 16px;
        font-size: 18px;
        line-height: 22px;
    }

    .skill-box p {
        font-size: 14px;
        line-height: 20px;
    }

    /* Resume Section */
.resume-section h3 {
    text-align: center;
    margin-bottom: 35px;
}

.resume-container {
    display: block;
    padding: 15px;
}

.Education {
    margin-bottom: 35px;
}

.resume-subtitle {
    font-size: 22px;
    line-height: 25px;
    margin-bottom: 20px;
    color: #575757;
    padding-left: 15px;
}

.resume-box {
    padding: 15px;
    border: 1px solid rgb(195, 194, 194);
}

.resume-box h5 {
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
    color: #474747;
}

.resume-box p {
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #757575;
    margin-bottom: 14px;
}

.resume-para {
    font-size: 14px !important;
    line-height: 20px !important;
}

.resume-container hr {
    margin: 10px 0;
}

.resume-btn {
    margin-top: 25px;
}

/* Contact Section */
.contact {
    padding: 60px 30px;
    text-align: center;
}

.contact-container {
    display: block;
}


.let-connect h3{
    margin-bottom: 30px;
    text-transform: uppercase;
}


.contact-description {
    font-size: 16px;
    line-height: 25px;
    margin-bottom: 25px;
}

.let-message{
    margin-top: 50px;
    width: 100%;
}
.let-message h3{
    margin-bottom: 30px;
    text-transform: uppercase;
}

.contact input[type="text"],
input[type="email"],
textarea {
    margin-bottom: 15px;
    border: 0;
    padding: 12px 25px;
    width: 80%;
}
.let-message input[type=submit]{
    padding: 15px 30px;
}





}